<!-- portfolio.html -->
    <div ng-controller="portfolioController" class=container-fluid>
      <!--
      <div ng-repeat="p in [] | range: projects.length">
        <div class="row col-xs-10" ng-repeat="i in [] | range:3">  
          <div class="col-xs-3"><a href={{p.link}} class="thumbnail"><img src={{p.imageSrc}} class="img-responsive"> {{$parent.$index}} {{p.name}} | {{p.source}} | {{p.period}}  </a></div>
        </div> 
        </div>
      -->
      
      <!--
      <div ng-repeat="p in projects" ng-if="$index % 3 == 0" class="row">
        <div class="col-xs-3"><a href={{p.link}} class="thumbnail"><img src={{p.imageSrc}} class="img-responsive"> {{$parent.$index}} {{p.name}} | {{p.source}} | {{p.period}}  </a></div>
        <div class="col-xs-3" ng-if="projects.length > ($index + 1)"><a href={{p.link}} class="thumbnail"><img src={{p.imageSrc}} class="img-responsive"> {{$parent.$index}} {{p.name}} | {{p.source}} | {{p.period}}  </a></div>
        <div class="col-xs-3" ng-if="projects.length > ($index + 2)"><a href={{p.link}} class="thumbnail"><img src={{p.imageSrc}} class="img-responsive"> {{$parent.$index}} {{p.name}} | {{p.source}} | {{p.period}}  </a></div>
    </div>
      
      -->
      
      <div id="portfolioGrid">
        <div ng-repeat="p in projects">
            <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div id="portfolioThumbnail" class="col-xs-4">
                <a id="ThumbImage" href={{p.link}} class="thumbnail" target="_blank"><img id="portImage" src={{p.imageSrc}} alt={{p.name}}> {{$parent.$index}} {{p.name}} | {{p.source}} | {{p.period}}  </a>
            </div>
        </div>
      </div>
      
    </div> <!-- main container -->