/* Styles go here */


#MyName{
  color: YellowGreen;
  font-family: Pacifico;
  text-align: center;
  padding-top: 10px;
  padding-bottom:10px;
}

#MyTag{
  color: YellowGreen;
  font-family: Monospace;
  text-align: center;
  padding-top: 0px;
  padding-bottom:10px;
}

#promise{
  color: YellowGreen;
  font-family: Pacifico;
  text-align: left; 
  padding:10px;
}

h1{
  color: YellowGreen;
  font-family: Pacifico;
  text-align: center;
}


h2{
  color: YellowGreen;
  font-family: Pacifico;
  text-align: left;
  padding-top: 10px;
}

h3{
  color: YellowGreen;
  font-family: Pacifico;
} 


#email-form{
  font-family:Monospace;
  color: YellowGreen;
  font-size:20px;
  padding:10px;
}

#skillsText
{
  color: YellowGreen;
  font-family: Pacifico;
  margin:50px;
  text-align: left;
}
#linkedinLink{
 align-items:flex-end;
 
}

#linkedInImg{
  width: 10%;
}

#interestsText
{
  color: Salmon;
  font-family: Pacifico;
  margin:10px;
  text-align: left;
  font-size:30px;
}
#interestText{
  font-family:'David Libre','Open-sans';
  font-size:20px;
  font-style: bold;
}


/* Word Cloud Image */


.wcImgBorder{
  border-color: YellowGreen;
  border-width: 10px;
  border-style: dotted solid double dashed;
  border-radius: 60%;
}

#wordCloudImg{
    transition-duration: 10s;
    transition-property: transform;
    
}

#wordCloudImg:hover {
    -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
}

#myPic{
 border-color: YellowGreen;
  border-width: 5px;
  border-style: dotted;
  border-radius: 10%;
  margin:10px;
}

/*
#circle {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 100%;
    background: transparent;
    border-color: YellowGreen;
    border-width: 1px;
    border-style: dotted;
    text-align: center;
    }
*/
#circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 15px;
  color:YellowGreen;
  line-height: 0px;
  text-align: center;
  background: transparent;
  border-color: YellowGreen;
  border-width: 1px;
  border-style: dotted;
}


#circleText{
  margin:5px;
  padding: 10px;
}


#HF-urls{
 text-align:right ;
}

#aboutMe{
  color: YellowGreen;
   font-family: Monospace ;
}
#gitHubImg{
  width: 10%;
}

#textWordC{
 color: Orange ;
 font-family: Monospace ;
 font-size: 10px;
}

#contactEmail{
  margin: 20px;  
}

#contactSubmitButton{
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
}

#contactName{
  margin: 20px;  
}

#contactMessage{
  margin:20px;  
}

.nav>li>a {
    background-color: transparent;
    color: YellowGreen;
    font-family: Monospace;
    font-size: 20px;
    font-weight: bold;
    padding-top: 4px; 
    padding-bottom: 4px;
    border-style: none;
      
}

.nav>li>a:hover{
  background-color:YellowGreen;
	color: white;
	
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.navbar-header{
    border-bottom: none;
}
 
#textFooter{
 color: white;
 font-family: Monospace ;
 font-size: 8px;
}

#header{
  background-color: transparent;
  color: YellowGreen;
  border-bottom: none;
}

.nav-tabs{
  color: YellowGreen;
}

#headerTabs{
  color: white;
  margin: 5px;
  /*padding: 5px; */
}
#footer{
  background-color: transparent;
  margin-bottom: 5px ;
  border-bottom: none;
}



/* -- Portfolio  */
#portfolioThumbnail{
 border: double;
 font-family: Monospace;
 border-color: Salmon ;
 border-radius: 10%;
 border-width: 6px;
    
  width: 360px;
  height: 240px;
  margin: 15px 15px 15px 15px;
  padding: 5px;
}




#portImage{
  width: 320px;
  height:200px;
}
#portfolioGrid{
  margin: 20px 20px 10px 40px;
}

#ThumbImage{
  width: 340px;
  height: 220px;
  border:hidden;
  color: DarkGreen;
}


#ThumbHead{
  font-family: 'David Libre','Open Sans',sans-serif;
  font-size:25px;
  color: #EA3556;
  font-style:bold;
  border:hidden;
  margin:5px;
}

#ThumbDesc{
  font-family: 'David Libre','Open Sans',sans-serif;
  font-size:15px;
  color: black;
  font-style:italic;
  border:hidden;
  padding: 10px;

}



@keyframes animateBorder {
  to {
    outline: 6px dashed #FFFFFF;
    box-shadow: 0 0 0 6px Salmon;
    
  }
}


#portfolioThumbnail:hover{
  /*
  outline: 6px dashed yellow;
  box-shadow: 0 0 0 6px #EA3556;
  outline: 6px dashed Salmon;
  box-shadow: 0 0 0 6px #FFFFFF;
  border-radius: 10%;
  border-color:white;
  animation: 1s animateBorder 3s;
   
  */
   /*border:double; 
   border-color: Salmon; */
  
 transform: scale(1.01);
  box-shadow: 0 0 0 4px #EA3556;
}



